# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/
.venv/
venv/

# Environment variables
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db